.form-forget {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    #0cc4ae,
    #00b9c4,
    #00acd4,
    #009dd9,
    #4d8bd3
  );
  height: 100vh;
}
.forget-content {
  width: 100%;
  max-width: 45rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.title-forget {
  margin-bottom: 20px;
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center;
}
.input-forget {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  outline: none;
  margin-bottom: 20px;
}
.send-email {
  padding: 10px;
  color: white;
  background-color: #0cc4ae;
  font-size: 1.5rem;
  font-weight: 600;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}
.send-email:hover {
  background-color: #4d8bd3;
}
