/* .classadmin-form-contact {
}
.classadmin-chat-img {
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classadmin-form-chat {
  width: 60%;
  height: 60%;
  background-color: #aafeff;
}

.classadmin-chat-classadmin {
  max-width: 450px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.classadmin-ask-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
 */
